@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .title {
    @apply text-[40px] md:text-[67px] lg:text-[98px] uppercase tracking-[-1.6px] md:tracking-[-2.68px] lg:tracking-[-3.92px];
  }
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 104px;
  }
}

.btn::before,
.btn::after,
.btn > span::before,
.btn > span::after {
  display: block;
  content: "";
  width: 36px;
  height: 8px;
  position: absolute;
}

.btn::before {
  top: 0;
  left: 0;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.btn::after {
  top: 0;
  right: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.btn > span::before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}
.btn > span::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.btn:hover {
  border: 1px solid white;
}

.top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.75;
  background-image: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%),
    url("/images/hero-sm.jpg");
}

#about {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.75;
  background-image: linear-gradient(180deg, #001826 0%, rgba(0, 37, 49, 0) 100%),
    url("/images/about-md.jpg");
}

.dotted::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #fff;
}

@media (min-width: 768px) {
  .top {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url("/images/hero-md.jpg");
  }

  #about {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url("/images/about-md.jpg");
  }
}

@media (min-width: 1280px) {
  .top {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url("/images/hero-lg.jpg");
  }

  #about {
    background-image: linear-gradient(
        180deg,
        #001826 0%,
        rgba(0, 37, 49, 0) 100%
      ),
      url("/images/about-lg.jpg");
  }

  .dotted::before {
    width: 8px;
    height: 8px;
  }
}
